
@import "foundation-sites/scss/foundation"

@include foundation-everything

body
  background: #f5f5f5

table
  .button
    margin: 0
  .deleted
    color: gray
    text-decoration: line-through
    .button
      background-color: black
      &:hover
        background-color: black

[type='text']
  margin: 0

.button-group
  margin: 0
