
@import "foundation-sites/scss/foundation"

@include foundation-everything

body
  background: #f5f5f5

table
  .deleted
    color: gray
    background-color: darkgray!important
    span
      text-decoration: line-through
    .button
      margin: 0
      text-decoration: none

[type='text'], [type='submit']
  margin: 0

.button-group
  margin: 0
